name: Run all tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pandas

      - name: Run all test.py files with error propagation
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: |
          exit_code=0
          while IFS= read -r -d '' file; do
            echo "▶️ Running $file"
            python "$file" || exit_code=1
          done < <(find . -name "test.py" -print0)
          exit $exit_code